.text{
    display: block;
}
table{
    margin: 20px 3%;
    border:1px solid #8dc3f5;
    width:96%;
    
}
th{
    width:30%;
    font-size:24px;
    background-color:#d0e7fc;
    border-bottom: 1px solid #8dc3f5;
}
td{
    font-size:16px;
    background-color:rgb(241, 239, 239);
    border-bottom: 1px solid #8dc3f5;
}